apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: watches-eshop-databases
  namespace: openshift-gitops
spec:
  generators:
    - git:
        repoURL: http://gitea.{{ ocp_ingress_domain[0] }}/gitea/watches-eshop.git
        revision: master
        files:
          - path: "databases/*.json"
  template:
    metadata:
{% raw %}
      name: '{{ app_name }}'
{% endraw %}
    spec:
      project: default
      source:
        repoURL: http://gitea.{{ ocp_ingress_domain[0] }}/gitea/watches-eshop.git
{% raw %}
        targetRevision: '{{ argo_config.branch }}'
        path: '{{ argo_config.path }}'
      destination:
        server: '{{ k8s_cluster.address }}'
        namespace: '{{ k8s_cluster.namespace }}'
{% endraw %}
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
